*{
    box-sizing: border-box;
}

.header{
    background-color: #131921;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.logo{
    
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.logo:hover{
    border: 1px solid white;
    
}

.logo img{
    height: 31px;     
}



.location{
    color: white;
    border: 1px solid transparent; 
    padding: 4px;
    align-content: center; 
    cursor: pointer;
}

.location:hover{
    border: 1px solid white;
}

.location p{
    font-size: 11px;
    margin-left: 12px;
    color: #d7d2ce;
}
.location h4{
    font-size: 15px;
}



.searchbar input{
    width: 450px;
    padding: 10px;
    border: none;
    outline: none;
    text-align: left;
    height: 100%;

}

.searchbar select{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #E6E6E6;
    border-radius: 5px 0px 0px 5px;
}

.btn{
    height: 100;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #FEBD69;
    border-radius: 0px 5px 5px 0px;
}



.btn:hover{
    background-color: #ce9a56;
}

.part1{
    display: flex;
    gap: 20px;
}



.part2{
    display: flex;
}

.part3 select{
    
    border: none;
    outline: none;
    background: none;
    color: white;
    
}

.selector{
    align-items: center;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
}

.selector:hover{
    border: 1px solid white;
}

.part3{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.part3 .hello-sigin{
    border: 1px solid transparent;
    padding: 3px;
    cursor: pointer;
}

.hello-sigin:hover{
    border: 1px solid #fff;
}

.part3 .hello-sigin h6{
    margin-left: 4px;
    cursor: pointer;
    font-size: 11px;
    
}

.hello-sigin .link{
 color: white;
 text-decoration: none;
}

.cart{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    padding: 1px;
    cursor: pointer;
}

.cart:hover{
    border: 1px solid white;
}

.cart img{
    border: none;
}

.cart img:hover{
    border: none;
}

.cart h4{
    margin-top: 19px;
    font-size: 13px;
}

.order{
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
}

.order:hover{
    border: 1px solid white;
}



.india{
    height: 20px;
}

