.crousel{
    position: absolute;
    display: flex;
    justify-content: center;

}

.images img{
    height: 90vh;
    width: 100%;
    transition: 0.2s ease;
}

.left svg{
    height: 60px;
    position: absolute;
   
    height: 270px;
    width: 50px;
    left: 0;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover{
        background-color: rgb(246, 246, 246);
       
    }
}
.right svg{
    height: 60px;
    position: absolute;
    right: 0;
    height: 270px;
    width: 50px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover{
        background-color: rgb(246, 246, 246);
        
    }
    

}