.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    width: 24%;
    z-index: 1000;
    position: relative;
    top: 400px;
}

.card .images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 13px;
    height: 80%;
    
}

.title{
    height: 60px;
}



.card .images img{
    height: 70px;
}
.card .images p{
    font-size: 10px;
    width: 100px;
}

.explore{
    width: 94%;
}

.explore a{
    text-decoration: none;
    color: #007185;
}

