.sidebar{
    background-color: white;
    height: 100%;
    width: 30%;
}

.shadow{
    height: 650px;
    background-color: rgb(52, 52, 52);
    height: 111vh;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.52);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(0, 0, 0, 0.3);
    width: 70%;
}

.sidebar-shadow{
    display: flex;
}

.user{
    display: flex;
    background-color: #232F3E;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    
}

.category{
    height: 600px;
    overflow-x: scroll;
}

.category ul{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    list-style: none;
    gap: 30px;
    border: 1px solid rgb(211, 211, 211);

}

.category ul li {
    font-size: 14px;
}

.crossbtn{
    position: absolute;
    left: 400px;
    color: white;
    z-index: 10000;
    top: 5px;
    font-size: 30px;
    border: 1px solid grey;
    padding: 10px 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

border: 1px solid rgba(255, 255, 255, 0.3);
}

